@import "tailwindcss";

/* ADD THIS LINE to enable class-based dark mode */
@custom-variant dark (&:where(.dark, .dark *));

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

body {
  background: rgb(215, 209, 209);
  color: #111827;
}

.dark body {
  background: #111827;
  color: rgb(41, 91, 15);
}